:root{
    --branco: #fff6fb;
    --branco2: #fdfafc;
    --preto: #0b0224;
    --cinza: #b09abe;
    --vermelho: #bb2035;
    --vermelho2: #811c2a;
    --laranja: #cf432a;
    --laranja2: #9e2814;
    --laranja3: #d87236;
    --amarelo: #e6e210;
    --amarelo2: #e6c610;
    --amarelo3: #e9dd6e;
    --azul: #3973f0;
    --azul2: #2f2fd4;
    --rosa: #e66ccb;
    --roxo: #7a30e9;
    --roxo2: #5314b3;
    --verde: #27eb68;
    --verde2: #20aa50;
    --verde3: #2ee76b;

    font-family: Poppins;
    font-size: 60%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--cinza);
    background-repeat: no-repeat;
}

#content{
    width: 100%;
    min-height: 80vh;
    padding: 2rem;
}