footer{
    width: 100%;
    height: 10vh;
    background: linear-gradient(to bottom, var(--laranja), var(--vermelho));
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--amarelo);
    font-size: 3rem;
    font-weight: 700;
}

footer span{
    color: var(--rosa);
    margin-left: 1rem;
    font-style: italic;
}

.rodapeAdm{
    background: linear-gradient(to bottom, var(--roxo), var(--azul));
}